In [1]:
# 데이터 분석 라이브러리
import numpy as np
import pandas as pd

# 시각화 라이브러리
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import *

# 모델링 라이브러리
from scipy import stats
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler, Normalizer, LabelEncoder
from sklearn.model_selection import KFold, cross_val_score, cross_val_predict, StratifiedKFold, GridSearchCV, RandomizedSearchCV, train_test_split
from category_encoders.ordinal import OrdinalEncoder
from lightgbm import LGBMClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, GradientBoostingClassifier, AdaBoostClassifier, VotingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier #KNN
from sklearn.naive_bayes import GaussianNB #Naive bayes
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, make_scorer, r2_score, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import roc_auc_score
import sklearn.metrics as metrics

# 기타 라이브러리
import warnings
import random
import gc
import os

warnings.filterwarnings("ignore", category=RuntimeWarning)        
sns.set_style("whitegrid")

In [2]:
pd.set_option('display.max_rows', 200)
pd.set_option('display.width', 10000)
pd.options.display.float_format = '{:.3f}'.format

# 데이터 불러오기

In [3]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
sample_submission = pd.read_csv('./submission/all_case.csv') # fnlwgt 제거

In [4]:
test['income'] = sample_submission['prediction']

# 후처리

In [5]:
train.drop(['id'], axis = 1, inplace = True)
test.drop(['id'], axis = 1, inplace = True)

In [6]:
columns = train.columns.tolist()

## income class가 1개이면서 row가 2개 이상인 경우

In [8]:
train[train['age'] == 17]

       age workclass  fnlwgt education  education_num      marital_status         occupation    relationship   race     sex  capital_gain  capital_loss  hours_per_week native_country income
1       17   Private  101626       9th              5       Never-married  Machine-op-inspct       Own-child  White    Male             0             0              20  United-States  <=50K
73      17   Private  413557      11th              7       Never-married       Adm-clerical       Own-child  White  Female             0             0              32  United-States  <=50K
82      17   Private  186890      10th              6  Married-civ-spouse              Sales       Own-child  White  Female             0             0              30  United-States  <=50K
152     17   Private  136363      10th              6       Never-married      Other-service       Own-child  White    Male             0             0              20  United-States  <=50K
299     17   Private  285169      11th              7       Never-married    Priv-house-serv       Own-child  White  Female             0             0              40  United-States  <=50K
...    ...       ...     ...       ...            ...                 ...                ...             ...    ...     ...           ...           ...             ...            ...    ...
25669   17   Private  206506      10th              6       Never-married  Handlers-cleaners  Other-relative  White    Male             0             0              10    El-Salvador  <=50K
25675   17   Private  321880      10th              6       Never-married      Other-service       Own-child  Black    Male             0             0              15  United-States  <=50K
25762   17   Private  193748      11th              7       Never-married              Sales       Own-child  White    Male             0             0              15  United-States  <=50K
25980   17         ?  112942      10th              6       Never-married                  ?       Own-child  White    Male             0             0              40  United-States  <=50K
25994   17   Private  183066      10th              6       Never-married      Other-service       Own-child  White  Female             0             0              40  United-States  <=50K

[325 rows x 15 columns]

In [7]:
ans = pd.DataFrame()
for col in columns:
    for value in train[col].value_counts().index.tolist():
        if (train[train[col] == value]['income'].nunique() == 1) &\
        (train[train[col] == value]['income'].value_counts().values[0] >= 2):
            count = train[train[col] == value]['income'].value_counts().values[0]
            income = train[train[col] == value]['income'].value_counts().index[0]
            ans = ans.append(pd.DataFrame({'column' : [col], 'value' : [value],\
                                          'income' : [income], 'count' : [count]}))          
ans = ans.reset_index(drop = True)
# income 제거
ans.drop([3040, 3041], axis = 0, inplace = True)
# income 변수 라벨링
ans['income'] = ans['income'].apply(lambda x: 0 if x == '<=50K' else 1)

In [10]:
ans

              column                       value  income  count
0                age                          20       0    597
1                age                          18       0    429
2                age                          17       0    325
3                age                          82       0     10
4                age                          88       0      3
...              ...                         ...     ...    ...
3035  hours_per_week                          91       0      3
3036  hours_per_week                          86       0      2
3037  hours_per_week                          61       1      2
3038  native_country  Outlying-US(Guam-USVI-etc)       0     13
3039  native_country                    Honduras       0     11

[3040 rows x 4 columns]

In [9]:
ans['column'].value_counts()

fnlwgt            2847
capital_gain       101
capital_loss        69
hours_per_week      10
age                  6
native_country       2
workclass            2
education            1
occupation           1
education_num        1
Name: column, dtype: int64

## ans에서 fnlwgt를 제거한 경우

In [25]:
del_fnlwgt = ans[ans['column'] != 'fnlwgt']
del_fnlwgt['column'].value_counts()

capital_gain      101
capital_loss       69
hours_per_week     10
age                 6
native_country      2
workclass           2
occupation          1
education           1
education_num       1
Name: column, dtype: int64

In [26]:
del_fnlwgt.sample(6)

            column  value  income  count
2927  capital_gain   2346       0      5
2928  capital_gain   1831       0      5
2904  capital_gain   6418       1      8
2949  capital_gain   2036       0      3
2880  capital_gain  13550       1     21
2921  capital_gain   6514       1      5

In [27]:
print('<후처리 전>\n', test['income'].value_counts())
for x in del_fnlwgt.iterrows():
    col = x[1]['column']
    value = x[1]['value'] 
    income = x[1]['income']
    test.loc[test[col] == value, 'income'] = income
print('<후처리 후>\n', test['income'].value_counts())

<후처리 전>
 0    5185
1    1327
Name: income, dtype: int64
<후처리 후>
 0    5190
1    1322
Name: income, dtype: int64

In [28]:
test.head(3)

   age     workclass  fnlwgt     education  education_num      marital_status         occupation    relationship   race     sex  capital_gain  capital_loss  hours_per_week native_country  income
0   28       Private   67661  Some-college             10       Never-married       Adm-clerical  Other-relative  White  Female             0             0              40  United-States       0
1   40  Self-emp-inc   37869       HS-grad              9  Married-civ-spouse    Exec-managerial         Husband  White    Male             0             0              50  United-States       1
2   20       Private  109952  Some-college             10       Never-married  Handlers-cleaners       Own-child  White    Male             0             0              25  United-States       0

test.loc[test['capital_gain'] == 3103, 'income'] = 1

In [15]:
train[train.duplicated()]

       age         workclass  fnlwgt     education  education_num      marital_status         occupation   relationship   race     sex  capital_gain  capital_loss  hours_per_week native_country income
6816    23           Private  240137       5th-6th              3       Never-married  Handlers-cleaners  Not-in-family  White    Male             0             0              55         Mexico  <=50K
8305    39           Private   30916       HS-grad              9  Married-civ-spouse       Craft-repair        Husband  White    Male             0             0              40  United-States  <=50K
8742    42           Private  204235  Some-college             10  Married-civ-spouse     Prof-specialty        Husband  White    Male             0             0              40  United-States   >50K
9837    21           Private  243368     Preschool              1       Never-married    Farming-fishing  Not-in-family  White    Male             0             0              50         Mexico  <=50K
12159   46           Private  133616  Some-college             10            Divorced       Adm-clerical      Unmarried  White  Female             0             0              40  United-States  <=50K
13184   28           Private  274679       Masters             14       Never-married     Prof-specialty  Not-in-family  White    Male             0             0              50  United-States  <=50K
13290   20           Private  107658  Some-college             10       Never-married       Tech-support  Not-in-family  White  Female             0             0              10  United-States  <=50K
13667   35           Private  379959       HS-grad              9            Divorced      Other-service  Not-in-family  White  Female             0             0              40  United-States  <=50K
14029   21           Private  250051  Some-college             10       Never-married     Prof-specialty      Own-child  White  Female             0             0              10  United-States  <=50K
15249   46           Private  173243       HS-grad              9  Married-civ-spouse       Craft-repair        Husband  White    Male             0             0              40  United-States  <=50K
17056   19           Private   97261       HS-grad              9       Never-married    Farming-fishing  Not-in-family  White    Male             0             0              40  United-States  <=50K
18969   25           Private  195994       1st-4th              2       Never-married    Priv-house-serv  Not-in-family  White  Female             0             0              40      Guatemala  <=50K
20447   49           Private   31267       7th-8th              4  Married-civ-spouse       Craft-repair        Husband  White    Male             0             0              40  United-States  <=50K
20952   49  Self-emp-not-inc   43479  Some-college             10  Married-civ-spouse       Craft-repair        Husband  White    Male             0             0              40  United-States  <=50K
23189   19           Private  146679  Some-college             10       Never-married    Exec-managerial      Own-child  Black    Male             0             0              30  United-States  <=50K
23997   25           Private  195994       1st-4th              2       Never-married    Priv-house-serv  Not-in-family  White  Female             0             0              40      Guatemala  <=50K
25692   25           Private  308144     Bachelors             13       Never-married       Craft-repair  Not-in-family  White    Male             0             0              40         Mexico  <=50K
25868   27           Private  255582       HS-grad              9       Never-married  Machine-op-inspct  Not-in-family  White  Female             0             0              40  United-States  <=50K

## 저장

In [29]:
sample_submission['prediction'] = test['income']

In [30]:
sample_submission['prediction'].value_counts()

0    5190
1    1322
Name: prediction, dtype: int64

In [31]:
sample_submission.to_csv('./submission/all_case_treatment.csv', index = False)

In [32]:
!kaggle competitions submit -c kakr-4th-competition -f ./submission/all_case_treatment.csv -m "모든 경우의 수 후처리"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
100%|██████████████████████████████████████| 43.4k/43.4k [00:08<00:00, 4.97kB/s]
Successfully submitted to [T-Academy X KaKr] 성인 인구조사 소득 예측 대회

In [34]:
sample_submission['prediction']

0       0
1       1
2       0
3       1
4       0
       ..
6507    0
6508    1
6509    0
6510    0
6511    0
Name: prediction, Length: 6512, dtype: int64

In [35]:
best = pd.read_csv('./submission/whochurie_del_flnwgt.csv')

In [52]:
a = pd.DataFrame({'compare' : (sample_submission['prediction'] == best['prediction']).tolist()})

In [54]:
a['all'] = sample_submission['prediction']

In [56]:
a['best'] = best['prediction']

In [ ]:
sample_submission # 0.87
best # 0.88

In [78]:
a[a['compare'] == 0].index

Int64Index([   4,   12,   58,   93,  101,  104,  116,  224,  397,  426,
            ...
            6318, 6340, 6351, 6376, 6383, 6423, 6472, 6491, 6498, 6507], dtype='int64', length=190)

In [80]:
zero = sample_submission
one = sample_submission

In [96]:
lst = a[a['compare'] == 0].index.tolist()

In [113]:
for x in lst:
    one.loc[one['id'] == x, 'prediction'] = 1

In [118]:
#zero.iloc[a[a['compare'] == 0].index.tolist()]['prediction']
one.iloc[a[a['compare'] == 0].index.tolist()]['prediction']

4       1
12      1
58      1
93      1
101     1
104     1
116     1
224     1
397     1
426     1
517     1
537     1
538     1
547     1
563     1
591     1
668     1
674     1
772     1
779     1
840     1
866     1
877     1
888     1
972     1
992     1
1086    1
1136    1
1201    1
1302    1
1328    1
1415    1
1483    1
1488    1
1491    1
1501    1
1538    1
1564    1
1573    1
1618    1
1647    1
1686    1
1762    1
1861    1
1895    1
1900    1
1944    1
2021    1
2105    1
2125    1
2134    1
2158    1
2169    1
2205    1
2216    1
2368    1
2369    1
2422    1
2439    1
2463    1
2553    1
2597    1
2605    1
2638    1
2641    1
2642    1
2668    1
2678    1
2770    1
2805    1
2849    1
2855    1
2872    1
2908    1
2928    1
2929    1
2944    1
3009    1
3028    1
3053    1
3181    1
3221    1
3241    1
3263    1
3299    1
3473    1
3539    1
3549    1
3584    1
3617    1
3733    1
3751    1
3757    1
3807    1
3809    1
3867    1
3900    1
3925    1
3941    1
3957    1
3961    1
4001    1
4018    1
4023    1
4030    1
4055    1
4119    1
4167    1
4203    1
4221    1
4267    1
4275    1
4284    1
4319    1
4323    1
4347    1
4447    1
4523    1
4548    1
4609    1
4668    1
4752    1
4754    1
4755    1
4808    1
4830    1
4862    1
4878    1
4917    1
4934    1
4956    1
4982    1
4986    1
5000    1
5003    1
5016    1
5031    1
5062    1
5097    1
5130    1
5135    1
5160    1
5172    1
5260    1
5283    1
5317    1
5392    1
5444    1
5497    1
5522    1
5525    1
5546    1
5588    1
5591    1
5601    1
5640    1
5641    1
5677    1
5679    1
5687    1
5694    1
5718    1
5720    1
5772    1
5793    1
5836    1
5858    1
5888    1
5898    1
6037    1
6049    1
6050    1
6086    1
6097    1
6157    1
6203    1
6212    1
6242    1
6274    1
6297    1
6318    1
6340    1
6351    1
6376    1
6383    1
6423    1
6472    1
6491    1
6498    1
6507    1
Name: prediction, dtype: int64

In [100]:
zero.iloc[a[a['compare'] == 0].index.tolist()]

        id  prediction
4        4           0
12      12           0
58      58           0
93      93           0
101    101           0
104    104           0
116    116           0
224    224           0
397    397           0
426    426           0
517    517           0
537    537           0
538    538           0
547    547           0
563    563           0
591    591           0
668    668           0
674    674           0
772    772           0
779    779           0
840    840           0
866    866           0
877    877           0
888    888           0
972    972           0
992    992           0
1086  1086           0
1136  1136           0
1201  1201           0
1302  1302           0
1328  1328           0
1415  1415           0
1483  1483           0
1488  1488           0
1491  1491           0
1501  1501           0
1538  1538           0
1564  1564           0
1573  1573           0
1618  1618           0
1647  1647           0
1686  1686           0
1762  1762           0
1861  1861           0
1895  1895           0
1900  1900           0
1944  1944           0
2021  2021           0
2105  2105           0
2125  2125           0
2134  2134           0
2158  2158           0
2169  2169           0
2205  2205           0
2216  2216           0
2368  2368           0
2369  2369           0
2422  2422           0
2439  2439           0
2463  2463           0
2553  2553           0
2597  2597           0
2605  2605           0
2638  2638           0
2641  2641           0
2642  2642           0
2668  2668           0
2678  2678           0
2770  2770           0
2805  2805           0
2849  2849           0
2855  2855           0
2872  2872           0
2908  2908           0
2928  2928           0
2929  2929           0
2944  2944           0
3009  3009           0
3028  3028           0
3053  3053           0
3181  3181           0
3221  3221           0
3241  3241           0
3263  3263           0
3299  3299           0
3473  3473           0
3539  3539           0
3549  3549           0
3584  3584           0
3617  3617           0
3733  3733           0
3751  3751           0
3757  3757           0
3807  3807           0
3809  3809           0
3867  3867           0
3900  3900           0
3925  3925           0
3941  3941           0
3957  3957           0
3961  3961           0
4001  4001           0
4018  4018           0
4023  4023           0
4030  4030           0
4055  4055           0
4119  4119           0
4167  4167           0
4203  4203           0
4221  4221           0
4267  4267           0
4275  4275           0
4284  4284           0
4319  4319           0
4323  4323           0
4347  4347           0
4447  4447           0
4523  4523           0
4548  4548           0
4609  4609           0
4668  4668           0
4752  4752           0
4754  4754           0
4755  4755           0
4808  4808           0
4830  4830           0
4862  4862           0
4878  4878           0
4917  4917           0
4934  4934           0
4956  4956           0
4982  4982           0
4986  4986           0
5000  5000           0
5003  5003           0
5016  5016           0
5031  5031           0
5062  5062           0
5097  5097           0
5130  5130           0
5135  5135           0
5160  5160           0
5172  5172           0
5260  5260           0
5283  5283           0
5317  5317           0
5392  5392           0
5444  5444           0
5497  5497           0
5522  5522           0
5525  5525           0
5546  5546           0
5588  5588           0
5591  5591           0
5601  5601           0
5640  5640           0
5641  5641           0
5677  5677           0
5679  5679           0
5687  5687           0
5694  5694           0
5718  5718           0
5720  5720           0
5772  5772           0
5793  5793           0
5836  5836           0
5858  5858           0
5888  5888           0
5898  5898           0
6037  6037           0
6049  6049           0
6050  6050           0
6086  6086           0
6097  6097           0
6157  6157           0
6203  6203           0
6212  6212           0
6242  6242           0
6274  6274           0
6297  6297           0
6318  6318           0
6340  6340           0
6351  6351           0
6376  6376           0
6383  6383           0
6423  6423           0
6472  6472           0
6491  6491           0
6498  6498           0
6507  6507           0

In [122]:
zero.to_csv('./submission/zero.csv', index = False)

In [123]:
one.to_csv('./submission/one.csv', index = False)

In [124]:
pd.read_csv('./submission/one.csv')

        id  prediction
0        0           0
1        1           1
2        2           0
3        3           1
4        4           1
...    ...         ...
6507  6507           1
6508  6508           1
6509  6509           0
6510  6510           0
6511  6511           0

[6512 rows x 2 columns]